//- 웹사이트에서 계속 반복되는 코드를 복-붙 하지 않고 재활용하는 방법
    mixin이라고 함 
    즉, 웹사이트에서 자주 반복되는 html코드를 담음//

mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=false)
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{video.views} views 